<% provie(:title, "Request Approval") %>
<h1>Request Approval</h1>
<p> Hello, <%= @user.name  %></p>
<p>This to to inform you that the book request you made was 
successfully approved</p>

<p>Thank you for your continued support</p>
