<% provide(:title, "All Books") %>
<h1>All Books</h1>
<table>
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Description</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        <%= render @books %>
    </tbody>
    </table>
