<%=provide(:title, "About")%>
<h1> Who is E-Library App?</h3>
<h4>E-Library app is an online library management system iun which the users have
    ability to: </h4>
<ul>
    <h5><li> view all the books available</li></h5>
    <h5><li> Borrow an available book</li></h5>
    <h5><li> Get emailed if a book is due and not yet returned</li></h5>
    <h5><li> Search for any books available by title</li></h5>
</ul>

