<%=provide(:title, "About")%>
<sectioni id="about">
<div class="row">
    <h1><u>Know Your Library</u></h1>
    <div class="medium-4 columns about">
        <h3>Our Services</h3>
        <h5>E-Library app is an online library management system in which the users: 
        <ul>
            <li> Can view all the books available</li>
            <li> Borrow an available book</li>
            <li> Get emailed if a book is due and not yet returned</li>
            <li> Search for any books available by title</li>
        </ul>
        </h5>
    </div>
    <div class="medium-4 columns about">
        <h3>A bit of History</h3>
        <h5>The online community was officially launched on 18/04/2016
            in Maseno. Its main aim being to easily manage books
            in the local library community.Founders-:
            <ol>
                <li>Shedrack Kivuva</li>
                <li>StellaMaris</li>
                <li>Rachel Mwatela</li>
                <li>Dennis Ochieng</li>
            </ol>
        </h5>
    </div>
    <div class="medium-4 columns about">
        <h3>The community</h3>
        <h5>We are non-profit organisation.The services offered are available to the community. We believe that knowledge 
            is power and therefore do not lock out anyone from enjoying our services. To start enjoying
            our services all you need is to create an account and then comply to our terms and conditions. Creating an account is free</h5>
    </div>
</div>
<section class="team">
    <h1><u>Meet Our Awesome Team</u></h1>
    <div class="row">
        <div class="medium-3 columns">
            <h5>Shecdrak Kivuva</h5>
            <p>He is the community manager. He has an expertise in management from University of 
            Capetown</p>
            <p><i class="fa fa-phone"></i>: 07123456</p>
        </div>
        <div class="medium-3 columns">
            <h5>Rachel Mwatela</h5>
            <p>Operations manager. She is on the forefront in ensuring that customers are 
            satisfied with our services</p>
            <p><i class="fa fa-phone"></i>:789456</p>
        </div>
        <div class="medium-3 columns">
            <h5>Dennis Ochieng</h5>
            <p>Record keeping is his thing. Ensures that everything in the lib is in good order</p>
            <p><i class="fa fa-phone"></i>:963852</p>
        </div>
        <div class="medium-3 columns">
            <h5>StellaMaris Njage</h5>
            <p>Research analyst. Ensures that the most recent books in the market are available in the library.</p>
            <p><i class="fa fa-phone"></i>:456123</p>
        </div>
    </div>
</section>
</section>
