<%=provide(:title, "Contact")%>
<div class="row">
    <div class="mmedium-4 columns medium-offset-4">
        <h1> Contact Us</h1>
        <h1> OR</h1>
        <h1> Leave a Message</h1>
        <h3> Community Manager</h3>
        <h5>Name: Stella Njage</h5>
        <h5>Email: stella@e-lib.com</h5>
        <h5>contact: 123456</h5>
