<%= provide(:title, "FAQ") %>
<b><p>1. How many books can one borrow?</p></b>
<p>You can borrow a maximum of five books. The books however, have to be unique</p>
<b><p>2. What do i do to start enjoying your services</p></b>
<p>Just visit the signup to create an account ans start enjoying sevices</p>
<b><p>3. For how long should i stay before returning a book</p></b>
<p> 2 weeks. After that thewe will be a fine of 20/= day </p>

    
