<%= provide(:title, "Home") %>
<div class="row">
    <% if logged_in? %>
        <div class="medium-4 columns medium-offset-4">
            <%= render 'shared/user_info' %>
        </div>
    <% else %>
        <div class="medium-2 columns"></div>
        <div class="medium-10 columns">
            <%= image_tag("lib.jpeg", :alt => "first image") %>
            <h1>Welcome to E-Library community</h1>
            <p>Learn It Live It at your own comfort </p>
            <p>Are you a new user?Signup to start enjoying ours services</p>
            <%=link_to fa_icon('sign-in', text: "SignUp"), new_user_url, class: " button button large" %>
        </div>
    <% end %>
</div>
