<%= provide(:title, "Home") %>
<div class="row">
    <div class="medium-3 columns"></div>
    <div class="medium-9 columns"></div>
    <%= image_tag("lib.jpeg", :alt => "first image") %>
    <h1>Welcome to E-Library community</h1>
    <p>Learn It Live It at your own comfort </p>
    <p>Are you a new user? to start enjoying ours services</p>
    <%=link_to "SignUp", new_user_url, class: "button large" %>
</div>
