<%= provide(:title, "Home") %>
<div class="row">
    <div class="medium-2 columns"></div>
    <div class="medium-10 columns">
        <%= image_tag("lib.jpeg", :alt => "first image") %>
        <h1>Welcome to E-Library community</h1>
        <p>Learn It Live It at your own comfort </p>
        <p>Are you a new user?Signup to start enjoying ours services</p>
        <%=link_to "SignUp", new_user_url, class: "button large" %>
    </div>
</div>
