<%= provide(:title, "Home") %>
<h1>Welcome to E-Library community</h1>
<p>Learn It Live It at your own comfort </p>
<p>Are you a new user? to start enjoying ours services</p>
<%=link_to "SignUp", signup_url %>
