<div class="small-12 columns" id="footer">
    <footer class="callout primary small">
        <ul class="no-bullet">
            <li><%= link_to "About", about_url%></li>
            <li><%=link_to "Contact", contact_url%></li>
        </ul>
    </footer>
</div>


