<div class="top-bar">
    <div class ="top-bar-title">
        
        
            <strong><%= link_to "E-Library", '#' %></strong>
    </div>
    <div id="responsive menu">
        <div class="top-bar-left">

            <ul class="menu vertical">

                <li><%= link_to "Home", root_url %></li>
                <li><%= link_to "FAQ", faq_url %></li>
                <li><%= link_to "Login", '#' %></li>
            </ul>
        </div>
    </div>
</div>

